 [Unit]
 Description=display IP on LCD (runs in a loop)
 After=netwotk-online.target 

 [Service]
 User=pi
 ExecStart=/usr/bin/python /home/pi/raspberrypi_for_SpinMaster/spinmaster_lcd/spinmaster_lcd_ip.py
 Type=idle
 Restart=on-failure
 RestartSec=10

 [Install]
 WantedBy=multi-user.target
