 [Unit]
 Description=display IP on LCD (runs in a loop)
 After=netwotk-online.target 

 [Service]
 User=pi
 ExecStart=/usr/bin/python3 /home/pi/raspberrypi_for_SpinMaster/spinmaster_lcd/spinmaster_lcd_ip.py
 EnvironmentFile=/home/pi/raspberrypi_for_SpinMaster/spinmaster_lcd/enviroment_variables_for_lcd_service
 Type=idle
 Restart=always
 RestartSec=12

 [Install]
 WantedBy=multi-user.target
